@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import "tailwindcss";


@theme {
  --breakpoint-xs: 375px;
  --breakpoint-xs1: 425px;
  --font-all: "Atkinson Hyperlegible", sans-serif;
  --text-1hl: 40px;
  --text-2hl: 44px;
  --text-3hl: 64px;
  --text-4hl: 90px;
  --text-5hl: 130px;
  --color-primary: #e8e8f9;
  --color-secundary: #524be0;
  --color-terciary: #E8E8F9;
  --drop-shadow-3xl: 0px 3px 1px rgba(0, 0, 0, 0.25);
  --shadow-3xl: 0px -6px 10px rgba(0, 0, 0, 0.45);
  --inset-shadow-md: inset 0 6px 10px rgba(0, 0, 0, 0.45);
  --gap-negative: -20px;
}


body {
  font-family: var(--font-all);
}

.icons-link {
  width: 30px !important;
}

.link-footer {
  width: 40px !important;
}

.image-footer {
  width: 40px !important;
}

.image-responsive {
  width: 30px !important;
}

@media (min-width: 375px) {
  .icons-link {
    width: 35px !important;
  }

  .image-responsive {
    width: 35px !important;
  }

}

@media (min-width: 425px) {
  .image-responsive {
    width: 40px !important;
  }

  .icons-link {
    width: 40px !important;
  }

  .link-footer {
    width: 45px !important;
  }

  .image-footer {
    width: 45px !important;
  }
}

@media (min-width: 768px) {
  .icons-link {
    width: 55px !important;
  }

  .image-responsive {
    width: 55px !important;
  }

  .image-home-icon {
    width: 170px !important;
  }

  .link-footer {
    width: 50px !important;
  }

  .image-footer {
    width: 50px !important;
  }
}

@media (min-width: 1024px) {
  .icons-link {
    width: 85px !important;
  }

  .image-responsive {
    width: 80px !important;
  }

  .image-home-icon {
    width: 250px !important;
  }

  .image-icon {
    width: 80px !important;
  }

  .link-footer {
    width: 65px !important;
  }

  .image-footer {
    width: 65px !important;
  }

  .git {
    width: 70px !important;
  }

}

@media (min-width: 1280px) {
  .icons-link {
    width: 105px !important;
  }

  .image-responsive {
    width: 105px !important;
  }

  .image-home-icon {
    width: 320px !important;
  }

  .image-icon {
    width: 100px !important;
  }

  .link-footer {
    width: 75px !important;
  }

  .image-footer {
    width: 75px !important;
  }
}