@import "tailwindcss";

@theme {
  --font-all: "Atkinson Hyperlegible", sans-serif;
  --color-primary: #E8E8F9;
  --color-secundary: #524BE0;
  
}

:root {
  --primary: #E8E8F9;
  --secundary: #524BE0;
  --terciary: #E8E8F9; 
} 

@media (prefers-color-scheme: dark) {
  :root {
    --primary: #E8E8F9;
    --secundary: #524BE0;
    --terciary: #E8E8F9;  
  }
}

body {
  color: var(--foreground);
  
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}