.Images {
  transition: transform 300ms ease-out;
  width: 100% !important;
  will-change: transform;
}

.Images:hover {
  transform: scale(1.05);
}

.Images:active {
  transform: scale(0.90);
}

.ProjectsSwiper,
.swiper,
.swiper-slide {
  overflow: visible !important;
}
