.swiper {
  width: 228px;
  height: 295px;
}

/* swiper.css */
.ProjectsSwiper {
  overflow: visible !important; /* Garante que o Swiper não cause scroll lateral */
}

.swiper-slide {
  overflow: visible !important; /* Garante que os slides não causem scroll lateral */
}

.Images {
  transition: transform 300ms ease-out;
  width: 100% !important;
  will-change: transform;
}

.Images:hover {
  transform: scale(1.05);
}

.Images:active {
  transform: scale(0.90);
}

@media (min-width: 768px) {
  .swiper {
    width: 95%;
    height: 100%;
  }

}